body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    margin: 0;
  }
  
  .trivia-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .btn-container button {
    background-color: #ff6699;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
  }
  
  #next-button {
    background-color: #ff3366;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
  }
  
  #error-image {
    width: 200px;
    height: auto;
    margin: 10px 0;
    display: none;
  }
  
  .hidden {
    display: none;
  }
  